/*-----------------------------------Colors--------------------------------------------
Deep Maroon:  94, 14, 25
Blue:  19, 19, 219
width: 921.6

-------------------------------------------------------------------------------------*/

body {
	background-image: url(../images/cakesite-background.jpg);
	background-repeat: repeat;
	background-attachment: scroll;
	overflow: auto;
	max-width: 90%;
	margin: 0 auto;
	}

/*-------------------Header Elements------------------------------------------------*/
header {
	padding-top: 0.9765625%; /* 10 px / 1024 px */
	}

header, aside {
	float: left; 
	padding-bottom: 1.953125%; /* 20 px / 1024 px */
	}

h1 {
	float: left;
	margin: 0;
	margin-left: -6.8359375%; /* 70 px / 1024 px */
	margin-right: 7.8125%; /* 80 px / 1024 px */
	padding-top: 1.4648375%; /* 15 px / 1024 px */
	padding-left: 15.625%; /* 160 px / 1024 px*/
	font-size: 1.5em; /* 24px / 16px */
	font-family: 'Yellowtail', cursive, sans-serif;
	}

h1 a {
	color: pink;
	text-decoration: none;
	}
	
h1 a:hover {
	color: black;
	}
	
.contact_info {
	clear: both;
	}

#head-images {
	clear: both;
	}
/*-------------------Image Gallery--------------------------------------------------*/
figure {
	width: 87.890625%; /* 900px / 1024px */
	height: 19.53125%; /* 200px / 1024px */
	margin-top: -3.255208333333%; /* 25px / 768 */
	margin-left: 6.8359375%; /* 70px / 1024px */
	}
	
figure img {
	width: 14.6484375%; /* 150px / 1024px */
	height: 100%;
	}
/*--------------------Navigation Elements-------------------------------------------*/
nav {
	padding-top: 3.41796875%; /* 35 px / 1024 px*/
	}

nav ul {
	width: 39.0625%; /* 400 px / 1024 px */
	background-color: rgb(94, 14, 25);
	margin: 0 auto;
	list-style-type: none;
	border-radius: 15px;
	overflow: hidden;
	}
	
nav li{
	font-family: 'Yellowtail', cursive, sans-serif;
	font-size: 1.5625em; /* 25 px / 16 px*/
	font-weight: bolder;
	width: 25%; /* 75 px / 300 px*/
	float: left;
	}
	
nav a{
	text-decoration: none;
	display: block;
	height: 2.9296875%; /* 30 px / 1024 px */
	line-height: 30px;
	color: pink;
	}
	
nav a:hover {
	color: black;
	background: white;
	}

nav a:active {
	color: green;
	}
	
/*------------------Contact Info Formats---------------------------------------------*/
h2 {
	color: rgb(19, 19, 219);
	text-decoration: none;
	font-family: 'Yellowtail', cursive, sans-serif;
	}
	
h2 a {
	text-decoration: none;
	color: white;
	}
	
.contact_info {
	list-style-type: none;
	color: rgb(19, 19, 219);
	}
	
article a {
	color: rgb(94, 14, 25);
	font-weight: bolder;
	}
	
article a:hover {
	color: black;
	}
	
article dl {
	margin-top: 22.093023255814%; /* 95 px / 430 px */
	margin-left: -5.696058327637%;/* 20 px / 351.12 px */
	margin-bottom: 11.627906976744%;/* 50 px / 430 px */
	margin-right: 7.120072909547%; /* 25px / 351.12px */
	font-size: 1.25em; /* 20 px / 16px */
	font-weight: bolder;
	}

h4 {
	color: rgb(19, 19, 219);
	text-decoration: none;
	font-family: 'Yellowtail', cursive, sans-serif;
	text-align: center;
	}
	
h4 a {
	text-decoration: none;
	color: white;
	font-weight: bolder;
	}	
	
article dl {
	color: rgba(19, 19, 219, 0.5);
	text-decoration: none;
	font-family: 'Yellowtail', cursive, sans-serif;
	padding-top: 8.544087491456%; /* 30 px / 351.12 px */
	}
	
article {
	width: 34.2890625%; /* 351.12 px / 1024 px */
	height: 55.989583333333%; /* 430px / 768px */
	border: solid;
	border-radius: 15px;
	float: left;
	background-image: url(../images/box-background.jpg);
	}

div {
	margin-left: 0.93984962406%; /* 10 px / 1064 px */
	}

div {
	width: 63.7578125%; /* 662.88px / 1024px*/
	height: 55.989583333333%; /* 430px / 768px */
	border: solid;
	border-radius: 15px;
	background-image: url(../images/box-background2.jpg);
	float: left;
	}
	
div h2 {
	padding-right: .723714682723%; /* 5px / 690.88px */
	padding-left: .723714682723%; /* 5px / 690.88px */
	text-align: center;
	}
	
div ul {
	width: 64.932330827068%; /* 690.88px / 1064px*/
	list-style-type: none;
	}
	
.cupcakes {
	padding-bottom: 0;
	}
	
div a {
	color: rgb(94, 14, 25);
	font-weight: bolder;
	}
	
div a:hover {
	color: black;
	}

.order {
	clear: both;
	padding-top: 9.302325581395%; /* 40px / 430px */
	padding-bottom: 9.302325581395%; /* 40px / 430px */
	}
	
div li {
	padding-top: 4.651162790698%; /* 20px / 430px */
	padding-left: 5.789717461788%; /* 40px / 690.88px */
	}

dl, h6 {
	clear: both;
	text-align: center;
	color: pink;
	}
	
dl a:hover {
	color: black;
	}
	
.like a{
	color: pink;
	font-family: 'Yellowtail', cursive, sans-serif;
	font-weight: bolder;
	}

#logo {
	width: 16.037790867207%;  /*110px / 685.88px */
	float: left;
	}
	
#logo img {
	width: 100%;
	}

#cupcakes img {
	width: 14.097744360902%; /* 150px / 1064px */
	float: left;
	}