/*-----------------------------------Colors--------------------------------------------
Deep Maroon:  94, 14, 25
Blue:  19, 19, 219
90% body width: 921.6px
100% height: 768px
-------------------------------------------------------------------------------------*/

body {
	background-image: url(../images/cakesite-background.jpg);
	background-repeat: repeat;
	background-attachment: scroll;
	overflow: auto;
	max-width: 90%;
	margin: 0 auto;
	}

/*-------------------Header Elements------------------------------------------------*/
header {
	padding-top: 1.085069444444%; /* 10px / 921.6px */
	}

header, aside {
	float: left;
	}

aside {
	width: 16.276041666667%; /* 150px / 921.6px */
	}
	
aside img {
	max-width: 100%;
	}

h1 {
	float: left;
	margin: 0;
	margin-left: -7.595486111111%; /* 70px / 921.6px */
	margin-right: 8.680555555556%; /* 80px / 921.6px */
	padding-top: 3.797743055556%; /* 35px / 921.6px */
	padding-left: 17.361111111111%; /* 160px / 921.6px */
	font-size: 2em; /* 32px / 16px */
	font-family: 'Yellowtail', cursive, sans-serif;
	}
	
header ul {
	clear: both;
	list-style-type: none;
	font-family: 'Yellowtail', cursive, sans-serif;
	font-size: 1.25em; /* 20px / 16px */
	color: pink;
	}
	
#slogan {
	font-size: 1.5624em; /* 25px / 16px */
	color: pink;
	font-weight: bolder;
	padding-bottom: 2.170138888889%; /* 20px / 921.6px */
	margin-bottom: -1.627604166667%; /* 15px / 921.6px */
	}
	
header li {
	margin-left: 22.243923611111%; /* 205px / 921.6px */
	}
		
h1 a {
	color: pink;
	text-decoration: none;
	}
	
h1 a:hover {
	color: black;
	}
	
article {
	clear: both;
	}

/*-------------------Image Gallery--------------------------------------------------*/
figure {
	float: left;
	margin-top: 0;
	margin-left: 7.595486111111%; /* 70px / 921.6px */
	width: 97.65625%; /* 900px / 921.6 */
	}

figure img {
	width: 14.6484375%; /* 150px / 1024px */
	}

/*--------------------Navigation Elements-------------------------------------------*/
nav {
	padding-top: 3.797743055556%; /* 35px / 921.6px */
	float: left;
	}
nav ul {
	width: 110%; /* changed just because it's spaced better */
	background-color: rgb(94, 14, 25);
	margin: 0 auto;
	list-style-type: none;
	border-radius: 15px;
	overflow: hidden;
	}
	
nav li{
	font-family: 'Yellowtail', cursive, sans-serif;
	font-size: 1.5624em; /* 25px / 16px */
	font-weight: bolder;
	margin-left: -.542534722222%; /* 5px / 921.6px */
	width: 23.529411764706%; /* 10.850694444444%;  100px / 425px */
	float: left;
	}
	
nav a{
	text-decoration: none;
	display: block;
	height: 30px;
	line-height: 30px;
	color: pink;
	}
	
nav a:hover {
	color: black;
	background: white;
	}

nav a:active {
	color: green;
	}
	
/*-----------------Content Styling-----------------------------------------------*/
h2 {
	color: rgb(19, 19, 219);
	text-decoration: none;
	font-family: 'Yellowtail', cursive, sans-serif;
	}
	
h2 a {
	text-decoration: none;
	color: white;
	}
	
h4 {
	color: rgb(19, 19, 219);
	text-decoration: none;
	font-family: 'Yellowtail', cursive, sans-serif;
	text-align: center;
	}
	
h4 a {
	text-decoration: none;
	color: white;
	}	
	
dl {
	text-decoration: none;
	font-family: 'Yellowtail', cursive, sans-serif;
	padding-top: 2.170138888889%; /* 20px / 921.6px */
	}

dl a {
	color: pink;
	font-size: 1.25em; /* 20px / 16px */
	font-weight: bolder;
	}
	
article p {
	font-family: 'Rye', cursive, sans-serif;
	text-align: center;
	padding-left: 2.84802916319%; /* 10px / 351.12px */
	padding-right: 2.84802916319%; /* 10px / 351.12px */
	}
	
article h2 {
	padding-left: 2.84802916319%; /* 10px / 351.12px */
	padding-right: 2.84802916319%; /* 10px / 351.12px */
	text-align: center;
	}
	
article {
	width: 32.971643518519%; /* 303.866666666667px / 921.6px */
	height: 430px;
	border: solid;
	border-radius: 15px;
	float: left;
	background-image: url(../images/box-background.jpg);
	}
	

div {
	margin-left: 1.085069444444%; /* 10px / 921.6px */
	}

div {
	width: 64.858217592593%; /* 597.733333333333px / 921.6 */
	height: 430px;
	border: solid;
	border-radius: 15px;
	background-image: url(../images/box-background2.jpg);
	float: left;
	}
	
div h2 {
	padding-right: .723714682723%; /* 5px / 690.88 */
	padding-left: .723714682723%; /* 5px / 690.88 */
	text-align: center;
	}
	
div ul {
	width: 64.858217592593%; /* 597.733333333333px / 921.6 */
	list-style-type: none;
	margin-left: 10.850694444444% /* 100px / 921.6px */
	}
		
.cupcakes {
	padding-bottom: 0;
	}
	
div a {
	color: rgb(94, 14, 25);
	font-weight: bolder;
	}
	
div a:hover {
	color: black;
	}

.order {
	clear: both;
	padding-top: 5.208333333333%; /* 40px / 768px */
	}
	
div li img {
	float: left;
	padding-top: 4.651162790698%; /* 20px / 430px */
	padding-left: 10%; /* 40px / 597.733333333333px */
	width: 21.701388888889%; /* 200px / 921.6px */
	}	

dl, h6 {
	clear: both;
	text-align: center;
	color: pink;
	}
	
dl a:hover {
	color: black;
	}
	
#wrapper dl {
	margin-top: 23.871527777778%; /*11.393229166667%; /* 220px / 921.6px */
	margin-right:  7.595486111111%; /* 70px / 921.6px */
	margin-bottom: 2.170138888889%; /* 20px / 921.6px */
	margin-left: 1.627604166667%; /* 15px; / 921.6px */
	color: rgb(19, 19, 219);
	font-weight: bolder;
	} 
	
#wrapper a {
	color: rgb(94, 14, 25);
	}
	
#wrapper a:hover {
	color: black;
	}
	
section {
	clear: both;
	width: 100%;
	height: 430px;
	background-image: url(../images/box-background2.jpg);
	border: solid;
	border-radius: 15px;
	overflow: scroll;
	}
	
.order {
	text-align: center;
	margin-top: -6.510416666667%; /* 60px / 921.6px */
	}
	
section h4 {
	text-align: left;
	}
	
section h2 {
	text-align: center;
	}
	
section ul {
	list-style-type: none;
	}
	
section p {
	float: right;
	margin-top: 6.510416666667%; /* 60px / 921.6px */
	font-family: 'Yellowtail', cursive, sans-serif;
	color: rgb(19, 19, 219);
	font-weight: bolder;
	text-align: left;
	}
/*========Tablet & Portrait size to standard 960 (devices * browsers)============*/
@media only screen and (min-width: 768px) and (max-width: 959px) {

	/*body {
		background-image: none;
		background-color: green;
		}*/
		
	nav {
		float: none;
		margin-bottom: 2.170138888889%; /* 20px / 921.6px */
		width: 100%;
		}
		
	article {
		width: 100%;
		height: 250px;
		overflow: auto;
		}
		
	div {
		margin-top: 2.170138888889%; /* 20px / 921.6px */
		width: 100%;
		}
		
}

/*========Mobile landscape size to tablet portrait (devices & browsers)==========*/
@media only screen and (min-width: 480px) and (max-width: 767px) {

	/*body {
		background-image: none;
		background-color: yellow;
		}*/
	
	nav {
		float: none;
		margin-bottom: 2.170138888889%; /* 20px / 921.6px */
		width: 100%;
		}
		
	article {
		width: 100%;
		height: 250px;
		overflow: auto;
		}
		
	div {
		margin-top: 2.170138888889%; /* 20px / 921.6px */
		width: 100%;
		}
}

/*========Mobile Portrait size to mobile landscape size (devices & browsers)=====*/
@media only screen and (max-width: 479px) {

	/*body {
		background-image: none;
		background-color: grey;
		}*/
		
	header h1{
		float: none;
		}

	header ul {
		margin-left: -70px;
		}
				
	nav {
		float: none;
		margin-bottom: 2.170138888889%; /* 20px / 921.6px */
		width: 100%;
		overflow: auto;
		}
		
	article {
		width: 100%;
		height: 385px;
		}
		
	div {
		margin-top: 2.170138888889%; /* 20px / 921.6px */
		width: 100%;
		height: 385px;
		}
}


	