/*-----------------------------------Colors--------------------------------------------
Deep Maroon:  97,14,24
Blue:  19, 19, 210

-------------------------------------------------------------------------------------*/

body {
	background-color:rgba(97, 14, 24, .90);
	width: 1064px;
	margin: 0 auto;
	}

/*-------------------Header Elements------------------------------------------------*/
header, aside {
	float: left;
	}

h1 {
	float: left;
	margin: 0;
	padding: 15px;
	font-family: 'Yellowtail', cursive, sans-serif;
	}

h1 a {
	color: rgba(19, 19, 219, 0.5);
	text-decoration: none;
	}
	
article {
	clear: both;
	}


/*--------------------Navigation Elements-------------------------------------------*/
nav ul {
	width: 400px;
	margin: 0 auto;
	background: black;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	}
	
nav li{
	width: 100px;
	background: rgb(25, 7, 10);
	float: left;
	}
	
nav a{
	text-decoration: none;
	background: black;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: white;
	}
	
nav a:hover {
	color: black;
	background: white;
	}

nav a:active {
	color: green;
	}
	
/*-----------------Content Styling-----------------------------------------------*/
h2 {
	color: rgb(19, 19, 219);
	text-decoration: none;
	font-family: 'Yellowtail', cursive, sans-serif;
	}
	
h2 a {
	text-decoration: none;
	color: white;
	}
	
h4 {
	color: rgb(19, 19, 219);
	text-decoration: none;
	font-family: 'Yellowtail', cursive, sans-serif;
	}
	
h4 a {
	text-decoration: none;
	color: white;
	}	
	
dl {
	color: rgba(19, 19, 219, 0.5);
	text-decoration: none;
	font-family: 'Yellowtail', cursive, sans-serif;
	}

dl a {
	color: white;
	margin: 0, auto;
	}
	
article p {
	font-family: 'Rye', cursive, sans-serif;
	}
	
article {
	width: 351.12px;
	height: 430px;
	padding-left: 10px;
	border-style: solid;
	border-radius: 15px;
	background-color: tan;
	float: left;
	}
	
div {
	width: 690.88px;
	height: 430px;
	border-style: solid;
	border-radius: 15px;
	background-color: tan;
	float: left;
	}
	
div ul {
	width: 690.88px;
	list-style-type: none;
	margin: 0, auto;
	}

.order {
	clear: both;
	}
	
div li {
	float: left;
	}
	
dl, h6 {
	clear: both;
	}



	