/*-----------------------------------Colors--------------------------------------------
Deep Maroon:  94, 14, 25
Blue:  19, 19, 219

-------------------------------------------------------------------------------------*/

body {
	background-image: url(../images/cakesite-background.jpg);
	background-repeat: repeat-x;
	background-attachment: scroll;
	overflow: auto;
	width: 1064px;
	margin: 0 auto;
	}

/*-------------------Header Elements------------------------------------------------*/
header {
	padding-top: 10px;
	}

header, aside {
	float: left;
	padding-bottom: 20px;
	}

h1 {
	float: left;
	margin: 0;
	margin-left: -70px;
	margin-right: 80px;
	padding-top: 15px;
	padding-left: 160px;
	font-family: 'Yellowtail', cursive, sans-serif;
	}

h1 a {
	color: pink;
	text-decoration: none;
	}
	
h1 a:hover {
	color: black;
	}
	
article {
	clear: both;
	}

/*-------------------Image Gallery--------------------------------------------------*/
figure {
	float: left;
	margin-top: -25px;
	margin-left: 70px;
	}

/*--------------------Navigation Elements-------------------------------------------*/
nav {
	padding-top: 35px;
	}
nav ul {
	width: 425px;
	background-color: rgb(94, 14, 25);
	margin: 0 auto;
	list-style-type: none;
	border-radius: 15px;
	overflow: hidden;
	}
	
nav li{
	font-family: 'Yellowtail', cursive, sans-serif;
	font-size: 25px;
	font-weight: bolder;
	width: 100px;
	float: left;
	}
	
nav a{
	text-decoration: none;
	display: block;
	height: 30px;
	line-height: 30px;
	color: pink;
	}
	
nav a:hover {
	color: black;
	background: white;
	}

nav a:active {
	color: green;
	}
	
/*---------------------------Menu Elements--------------------------------------------*/
article {
	width: 1042px;
	height: 430px;
	background-image: url(../images/box-background2.jpg);
	border: solid;
	border-radius: 15px;
	overflow: scroll;
	}
	
article ul {
	list-style-type: none;
	}
	
article {
	font-family: 'Yellowtail', cursive, sans-serif;
	}
	
article h2 {
	font-weight: bolder;
	text-decoration: underline;
	text-align: center;
	color: rgb(19, 19, 219);
	}
	
article a {
	text-decoration: none;
	color: rgb(94, 14, 25);
	font-weight: bolder;
	}
	
article a:hover {
	color: black;
	}
	
article ul {
	margin-left: -25px;
	}
	
article p {
	float: right;
	padding-right: 10px;
	}

article h4 {
	font-weight: bolder;
	color: rgb(19, 19, 219);
	font-size: 20px;
	}	
	
p {
	font-size: 16px;
	font-weight: bolder;
	margin-top: 40px;
	text-align: left;
	color: rgb(19, 19, 219);
	}
		
.order {
	clear: both;
	text-align: center;
	font-family: 'Yellowtail', cursive, sans-serif;
	font-weight: bolder;
	}
	
div a {
	color:pink;
	font-weight: bolder;
	}
	
 dl {
 	font-family: 'Yellowtail', cursive, sans-serif;
 	color: pink;
 	font-weight: bolder;
	}
 
 dl, h6 {
	clear: both;
	text-align: center;
	color: pink;
	}
	
dl a:hover {
	color: black;
	}



	